**/.DS_Store
**/*.pyc
**/__pycache__/
.coverage
coverage.xml
build/
dist/
omfvista.egg-info/
docs/build/
docs/_build/
docs/source/content
docs/source/examples
docs/source/index.rst
.ipynb_checkpoints
